/* index.css - Ensure full screen */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

canvas {
	display: block !important;
	width: 100% !important;
	height: 100% !important;

	z-index: -50;
}
@font-face {
	font-family: Black_Mustang;
	src: url(../fonts/Black_Mustang.ttf);
}
.textbox {
	position: fixed !important;
	background-color: rgb(31, 30, 30);
	z-index: 9999 !important;
	bottom: 5%;
	left: 45%;
	padding: 0.5% 0.5%;
	height: 10vh;
	width: 10vw;
	align-content: center;
	border: 1px solid white;
	color: white;
	text-align: center;
	font-family: Black_Mustang;
	font-size: 2.5rem;
	cursor: grab;
	user-select: none;
}
